#title {
  color: black;
  background-color: white;
  text-align: left;
}
li {
  margin-top: 0.75rem;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
}

/* Navigation Bar */
.nav {
  color: black;
  background-color: white;
  flex-flow: row wrap;
}
.nav-icon {
  width: 100px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}
.space {
  margin-right: 450px;
}
.navbar {
  padding: 2rem;
}
.nav-item {
  padding: 0 18px;
  margin-top: 0.5rem;
}
#navbarSupportedContent {
  font-family: "Ubuntu";
}

.nav-link {
  color: black;
  background-color: white;
  font-size: 1.2rem;
  font-family: "Ubuntu";
}

.premium {
  border: 1px blue solid;
  border-radius: 20px;
  color: blue;
  text-decoration: none;
}

/* TITLE COLUMNS */
.container-fluid {
  padding: 3% 15% 7%;
}

.left-col {
  margin-bottom: 2rem;
}

.playicon {
  color: blue;
}

.title-image {
  width: 120%;
}

/* FOOTER */
.footer {
  padding-top: 1.5rem;
}
.footer-img {
  font-family: "Ubuntu";
  color: rgba(0, 0, 0, 0.55);
  width: 50px;
  height: 40px;
  margin-left: 1rem;
}

/* RESPONSIVENESS */
@media (max-width: 990px) {
  #title {
    text-align: center;
    padding: 1.5rem;
  }
  .title-image {
    text-align: center;
    width: 100%;
  }
}
